.remote-video {
    background-color: rgb(50, 37, 101);
    border-radius: 10px;
    min-height: 40vh;
    width: 100%;
}
.local-video {
    background-color: rgb(190, 184, 212);
    border-radius: 10px;
    z-index: 1;
    height: 15vh;
    margin-left: 4px;
    position: absolute;
    top: 4%;
    left: 5px;
}
/* .local_audio {
    position: relative;
    top: 16%;
    left: 5%;
    z-index: 2;
}
.remote_audio {
    position: absolute;
    bottom: 15%;
    right: 10%;
} */
@media screen and (max-width: 766px) {
    .local-video {
        height: 40vh;
    }
}